<h1><%= t('edit_my_cookie_clicker') %></h1>

<h2><%= t('edit_cookie_clicker_attrs') %></h2>
<%= render 'form' %>

<hr>

<%= render :template => 'images/index' %>

<%= link_to 'Back', cookie_clickers_path, :class => 'btn btn-default btn-back' %>
