<!DOCTYPE html>
<html>
<head>
  <title>CookieClickerGenerator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></div>
<% end %>
<%= yield %>

<% if user_signed_in? %>
<div class="footer">
  <%= link_to t('logout'), destroy_user_session_path, :class => 'btn btn-default' %></li>
</div>
<% end %>

</body>
</html>
